<ion-view view-title="About">
  <ion-content>
    <h4 style="text-align:center; color:#ef473a;">Learn Animals</h4>
    <hr>
    <p style="margin-left:10px;  color:#387ef5; ">Learn animals aims to educate persons from <br>
     varions age group about some of the rarest animals.</p>
     <br>
     <br>
     <blockquote style="margin-left:10px; text-align:center; color:#387ef5;">
        <cite >Programmer: Odain Brown<br>
           Version: 0.0.18
        </cite>
	  </blockquote>
	  
  </ion-content>
</ion-view>
