<ion-view view-title="Contact">
  <ion-content>
  
	 <div>
	 
		<div>
			<img src="img/contact.jpg" width="300px;" height="200px">
			<hr style="background-color:blue;">
		</div>
		<br>
		<blockquote style="text-align:center; color:#387ef5; margin-left:10px;" >
		 <p> Mobile:+8768947757 </p> <br>
		 <p> Email:learnanimals@gmail.com</p> 
		</blockquote>

		<br>
		<br>
		
<!--			<div class="button-bar">

				<a class="button button-balanced" ng-href="tel:+8768947757"><i class="icon ion-android-call"></i> Call</a>


				<a class="button button-positive" ng-href="mailto:learnanimals@gmail.com"><i class="icon ion-android-mail"></i> Email</a>

			</div>-->
		
	 
	  </div>
	  
  </ion-content>
</ion-view>
